//
// fluid grid
// author: alex minkoff (minkoff@gmail.com)
//

@mixin fluid-grid($num-items, $margin, $flush-v: false, $flush-h: false, $grid-inner: '.grid-inner', $grid-item: '.item') {
  & {
    overflow: hidden;

    $item-width: 100% / $num-items - $margin; // percentage of inner container taken up by each item
    $inner-ratio: null; // ratio of inner container size to outer container size
    @if ($flush-h) {
      $inner-ratio: 100% / (100% - $margin);
    } @else {
      $inner-ratio: 100% / (100% + $margin);
    }
    $inner-width: 100% * $inner-ratio; // width of inner container relative to outer container

    // add extra margin to avoid overflows caused by rounding errors
    $real-inner-width: $inner-width + $margin;

    // adjust item width and margin to compensate for extra space
    $real-inner-ratio: $inner-width / $real-inner-width;
    $real-item-width: $item-width * $real-inner-ratio;
    $real-margin: $margin * $real-inner-ratio;

    #{$grid-inner} {
      width: $real-inner-width;
      @if ($flush-v) {
        margin-top: $margin * -1;
      } @else {
        margin-bottom: $margin;
      }
      @if ($flush-h == false) {
        margin-left: $margin;
      }
      #{$grid-item} {
          float: left;
          width: $real-item-width;
          margin-right: $real-margin;
          margin-top: $real-margin;
      }

      // clearfix
      &:before,
      &:after {
          content: " ";
          display: table;
      }
      &:after {
          clear: both;
      }
      & {
          *zoom: 1;
      }
    }
  }
}
