@import '_fluid-grid.scss';

body {
  text-align: center;
}

h1 {
  margin-top: 50px;
}

pre {
  text-align: left;
  display: inline-block;
  margin: 10px 0;
}

.grid {
  width: 80%;
  margin: 10px auto;
  border: 10px solid red;
  .grid-inner {
    .item {
      background: #000;
      position: relative;
      .spacer {
        margin-top: 75%;
      }
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

#grid1 {
  background: blue;
  @include fluid-grid(
    $num-items: 3,
    $margin: 10%,
    $flush-v: true,
    $flush-h: false,
    $grid-inner: '.grid-inner',
    $grid-item: '.item'
  );
}

#grid2 {
  @include fluid-grid(
    $num-items: 4,
    $margin: 1%,
    $flush-v: true,
    $flush-h: true,
    $grid-inner: '.grid-inner',
    $grid-item: '.item'
  );
}

#grid3 {
  background: green;
  @include fluid-grid(
    $num-items: 2,
    $margin: 5%,
    $flush-v: false,
    $flush-h: true,
    $grid-inner: '.grid-inner',
    $grid-item: '.item'
  );
}
