body {
  text-align: center; }

h1 {
  margin-top: 50px; }

pre {
  text-align: left;
  display: inline-block;
  margin: 10px 0; }

.grid {
  width: 80%;
  margin: 10px auto;
  border: 10px solid red; }
  .grid .grid-inner .item {
    background: #000;
    position: relative; }
    .grid .grid-inner .item .spacer {
      margin-top: 75%; }
    .grid .grid-inner .item img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }

#grid1 {
  background: blue; }
  #grid1 {
    overflow: hidden; }
    #grid1 .grid-inner {
      width: 100.90909%;
      margin-top: -10%;
      margin-left: 10%; }
      #grid1 .grid-inner .item {
        float: left;
        width: 21.02102%;
        margin-right: 9.00901%;
        margin-top: 9.00901%; }
      #grid1 .grid-inner:before, #grid1 .grid-inner:after {
        content: " ";
        display: table; }
      #grid1 .grid-inner:after {
        clear: both; }
      #grid1 .grid-inner {
        *zoom: 1; }

#grid2 {
  overflow: hidden; }
  #grid2 .grid-inner {
    width: 102.0101%;
    margin-top: -1%; }
    #grid2 .grid-inner .item {
      float: left;
      width: 23.76473%;
      margin-right: 0.9902%;
      margin-top: 0.9902%; }
    #grid2 .grid-inner:before, #grid2 .grid-inner:after {
      content: " ";
      display: table; }
    #grid2 .grid-inner:after {
      clear: both; }
    #grid2 .grid-inner {
      *zoom: 1; }

#grid3 {
  background: green; }
  #grid3 {
    overflow: hidden; }
    #grid3 .grid-inner {
      width: 110.26316%;
      margin-bottom: 5%; }
      #grid3 .grid-inner .item {
        float: left;
        width: 42.95943%;
        margin-right: 4.77327%;
        margin-top: 4.77327%; }
      #grid3 .grid-inner:before, #grid3 .grid-inner:after {
        content: " ";
        display: table; }
      #grid3 .grid-inner:after {
        clear: both; }
      #grid3 .grid-inner {
        *zoom: 1; }
